<style type='text/css'>span:nth-child(even){background-color:#ddd}div{display:inline;background-color:#bbb}</style><pre><b>count: 47</b>

<div><b>id  var1                     var2                                    var3   var4      var5      var6   var7   var8   var9                var10     </div></b>
<span>0   Wall                     na                                      192    2         2         1      1      0      WalkTo              Examine   
</span><span>1   Doorframe                na                                      192    4         4         0      0      1      WalkTo              Close     
    normdoorframe                                                                                                                                  
</span><span>2   Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    normdoor                                                                                                                                       
</span><span>3   Window                   na                                      192    5         5         1      1      0      WalkTo              Examine   
</span><span>4   Fence                    na                                      192    10        10        1      0      0      WalkTo              Examine   
</span><span>5   railings                 na                                      192    12        12        1      0      0      WalkTo              Examine   
</span><span>6   Stained glass window     na                                      192    18        18        1      1      0      WalkTo              Examine   
</span><span>7   Highwall                 na                                      275    2         2         1      1      0      WalkTo              Examine   
</span><span>8   Door                     The door is shut                        275    0         0         1      1      1      Open                Examine   
    Highdoor                                                                                                                                       
</span><span>9   Doorframe                na                                      275    4         4         0      0      1      WalkTo              Close     
    Highdoorframe                                                                                                                                  
</span><span>10  tent                     na                                      192    -3422     -3422     1      1      0      WalkTo              Examine   
    tent1                                                                                                                                          
</span><span>11  Doorframe                na                                      192    4         4         1      1      0      WalkTo              Examine   
    openlockeddoor                                                                                                                                 
</span><span>12  brickwall                na                                      192    -3422     -3422     1      1      0      WalkTo              Examine   
</span><span>13  arrowslit                na                                      192    7         7         1      0      0      WalkTo              Examine   
</span><span>14  timberwall               na                                      192    21        21        1      1      0      WalkTo              Examine   
</span><span>15  timberwindow             na                                      192    22        22        1      1      0      WalkTo              Examine   
</span><span>16  blank                    na                                      192    12345678  12345678  0      0      0      WalkTo              Examine   
</span><span>17  highblank                na                                      275    12345678  12345678  0      0      0      WalkTo              Examine   
</span><span>18  mossybricks              na                                      192    23        23        1      1      0      WalkTo              Examine   
</span><span>19  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    phoenixdoor                                                                                                                                    
</span><span>20  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    phoenixdoor2                                                                                                                                   
</span><span>21  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    blackarmdoor                                                                                                                                   
</span><span>22  Odd looking wall         This wall doesn't look quite right      192    2         2         1      1      1      Push                Examine   
</span><span>23  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    dungeondoor                                                                                                                                    
</span><span>24  web                      A spider's web                          192    26        26        1      0      1      WalkTo              Examine   
    bigweb                                                                                                                                         
</span><span>25  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    1to2                                                                                                                                           
</span><span>26  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    2to3                                                                                                                                           
</span><span>27  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    4to5                                                                                                                                           
</span><span>28  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    5to6                                                                                                                                           
</span><span>29  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    8to9                                                                                                                                           
</span><span>30  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    2to5                                                                                                                                           
</span><span>31  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    3to6                                                                                                                                           
</span><span>32  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    4to7                                                                                                                                           
</span><span>33  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    5to8                                                                                                                                           
</span><span>34  Window                   na                                      192    27        27        1      1      0      WalkTo              Examine   
    Desertwindow                                                                                                                                   
</span><span>35  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    Closet door                                                                                                                                    
</span><span>36  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    Haunteddoor                                                                                                                                    
</span><span>37  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    Backdoor                                                                                                                                       
</span><span>38  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    Fortressdoor                                                                                                                                   
</span><span>39  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    Fortressdoor2                                                                                                                                  
</span><span>40  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    Fortressdoor3                                                                                                                                  
</span><span>41  Crumbled                 na                                      192    28        28        1      1      0      WalkTo              Examine   
</span><span>42  Cavern                   na                                      192    29        29        1      1      0      WalkTo              Examine   
</span><span>43  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    Chefdoor                                                                                                                                       
</span><span>44  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    Championdoor                                                                                                                                   
</span><span>45  Door                     The door is shut                        192    0         0         1      1      1      Open                Examine   
    Alidoor                                                                                                                                        
</span><span>46  cavern2                  na                                      192    30        30        1      1      0      WalkTo              Examine   
</span>