<style type='text/css'>span:nth-child(even){background-color:#ddd}div{display:inline;background-color:#bbb}</style><pre><b>count: 10</b>

<div><b>id  var1                var2      var3      var4   </b></div>
<span>0   road                -16913    1         0      </span>
<span>1   water               1         3         1      </span>
<span>2   wooden              3         2         0      </span>
<span>3   bridge              3         4         0      </span>
<span>4   stone               -16913    2         0      </span>
<span>5   redcarpet           -27685    2         0      </span>
<span>6   gungywater          25        3         1      </span>
<span>7   blank               12345678  5         1      </span>
<span>8   cliff               -26426    1         1      </span>
<span>9   blackblank          -1        5         1      </span>
</pre>