<style type='text/css'>span:nth-child(even){background-color:#ddd}div{display:inline;background-color:#bbb}</style><pre><b>count: 28</b>

<div><b>id  var1           var2   var3   var4   var5   var6   var7                               var8   var9   </b></div>
<span>0   axeshop        7      100    60     2      0      pickaxe(156)                       5      100    
                                                      bronze Axe(87)                     10     100    
                                                      Iron Axe(12)                       5      200    
                                                      Steel Axe(88)                      3      400    
                                                      Iron battle Axe(89)                5      100    
                                                      Steel battle Axe(90)               2      200    
                                                      Mithril battle Axe(91)             1      3000   
</span><span>1   armourshop     10     100    60     2      0      bronze chain mail body(113)        5      100    
                                                      iron chain mail body(7)            3      200    
                                                      steel chain mail body(114)         3      400    
                                                      mithril chain mail body(115)       1      3000   
                                                      bronze plate mail body(117)        3      100    
                                                      iron plate mail body(8)            1      200    
                                                      steel plate mail body(118)         1      400    
                                                      black plate mail body(196)         1      3000   
                                                      mithril plate mail body(119)       1      3000   
                                                      iron plate mail legs(9)            1      100    
</span><span>2   generalshop1   7      130    40     3      1000   pot(135)                           3      100    
                                                      jug(140)                           2      100    
                                                      shears(144)                        2      100    
                                                      bucket(21)                         2      100    
                                                      tinderbox(166)                     2      100    
                                                      chisel(167)                        2      100    
                                                      hammer(168)                        5      100    
</span><span>3   generalshop2   7      130    40     3      1000   pot(135)                           3      100    
                                                      jug(140)                           2      100    
                                                      shears(144)                        2      100    
                                                      bucket(21)                         2      100    
                                                      tinderbox(166)                     2      100    
                                                      chisel(167)                        2      100    
                                                      hammer(168)                        5      100    
</span><span>4   runeshop       6      100    70     2      0      fire-rune(31)                      50     10     
                                                      water-rune(32)                     50     10     
                                                      air-rune(33)                       50     10     
                                                      earth-rune(34)                     50     10     
                                                      mind-rune(35)                      50     10     
                                                      body-rune(36)                      50     10     
</span><span>5   swordshop      15     100    60     2      0      bronze short sword(66)             5      100    
                                                      iron short sword(1)                4      200    
                                                      steel short sword(67)              4      400    
                                                      mithril short sword(68)            3      3000   
                                                      adamantite short sword(69)         2      12000  
                                                      bronze long sword(70)              4      100    
                                                      iron long sword(71)                3      200    
                                                      steel long sword(72)               3      400    
                                                      mithril long sword(73)             2      3000   
                                                      adamantite long sword(74)          1      12000  
                                                      bronze dagger(62)                  10     100    
                                                      Iron dagger(28)                    6      200    
                                                      steel dagger(63)                   5      400    
                                                      mithril dagger(64)                 3      3000   
                                                      Adamantite dagger(65)              2      12000  
</span><span>6   Archeryshop    5      100    55     1      0      arrows(11)                         200    10     
                                                      crossbow bolts(190)                150    10     
                                                      shortbow(189)                      4      100    
                                                      longbow(188)                       2      200    
                                                      Normal crossbow(60)                2      400    
</span><span>7   clotheshop     10     100    55     3      0      WhiteApron(182)                    3      100    
                                                      Leather Armour(15)                 12     100    
                                                      leather gloves(16)                 10     100    
                                                      boots(17)                          10     100    
                                                      Brownapron(191)                    1      100    
                                                      Pinkskirt(194)                     5      100    
                                                      blackskirt(195)                    3      100    
                                                      blueskirt(187)                     2      100    
                                                      redcape(183)                       4      100    
                                                      silk(200)                          5      100    
</span><span>8   staffshop      6      100    55     2      0      plainstaff(100)                    5      100    
                                                      Magic staff(198)                   5      200    
                                                      Staff of Air(101)                  2      1000   
                                                      staff of Water(102)                2      1000   
                                                      Staff of earth(103)                2      1000   
                                                      Staff of fire(197)                 2      1000   
</span><span>9   Helmetshop     10     100    60     1      0      medium bronze helmet(104)          5      100    
                                                      medium iron helmet(5)              3      200    
                                                      medium steel helmet(105)           3      400    
                                                      medium mithril helmet(106)         1      3000   
                                                      medium adamantite helmet(107)      1      12000  
                                                      large bronze helmet(108)           4      100    
                                                      large iron helmet(6)               3      200    
                                                      large steel helmet(109)            2      400    
                                                      large mithril helmet(110)          1      3000   
                                                      large adamantite helmet(111)       1      12000  
</span><span>10  Scimitarshop   4      100    55     2      0      Bronze Scimitar(82)                5      100    
                                                      Iron Scimitar(83)                  3      200    
                                                      Steel Scimitar(84)                 2      600    
                                                      Mithril Scimitar(85)               1      4000   
</span><span>11  legsshop       5      100    65     1      0      Bronze Plate mail legs(206)        5      100    
                                                      Iron Plate mail legs(9)            3      400    
                                                      Steel Plate mail legs(121)         2      900    
                                                      mithril plate mail legs(122)       1      2000   
                                                      adamantite plate mail legs(123)    1      13000  
</span><span>12  generalshop3   7      130    40     3      1000   pot(135)                           3      100    
                                                      jug(140)                           2      100    
                                                      shears(144)                        2      100    
                                                      bucket(21)                         2      100    
                                                      tinderbox(166)                     2      100    
                                                      chisel(167)                        2      100    
                                                      hammer(168)                        5      100    
</span><span>13  miningstore    9      100    70     2      0      hammer(168)                        4      100    
                                                      pickaxe(156)                       4      100    
                                                      copper ore(150)                    0      15000  
                                                      tin ore(202)                       0      15000  
                                                      iron ore(151)                      0      5000   
                                                      coal(155)                          0      5000   
                                                      bronze bar(169)                    0      4000   
                                                      iron bar(170)                      0      4000   
                                                      gold bar(172)                      0      3000   
</span><span>14  shieldshop     6      100    60     2      0      wooden shield(4)                   5      100    
                                                      bronze square shield(124)          3      100    
                                                      bronze kite shield(128)            3      300    
                                                      iron square shield(3)              2      400    
                                                      iron kite shield(2)                0      1500   
                                                      steel square shield(125)           0      1500   
</span><span>15  skirtshop      5      100    65     1      0      Bronze Plated skirt(214)           5      100    
                                                      Iron Plated skirt(215)             3      400    
                                                      Steel Plated skirt(225)            2      900    
                                                      mithril plated skirt(226)          1      2000   
                                                      adamantite plated skirt(227)       1      13000  
</span><span>16  generalshop4   7      130    40     3      1000   pot(135)                           3      100    
                                                      jug(140)                           2      100    
                                                      shears(144)                        2      100    
                                                      bucket(21)                         2      100    
                                                      tinderbox(166)                     2      100    
                                                      chisel(167)                        2      100    
                                                      hammer(168)                        5      100    
</span><span>17  Championshop   4      130    40     3      1000   BlueCape(229)                      2      1000   
                                                      large black helmet(230)            1      1000   
                                                      black plate mail legs(248)         1      2500   
                                                      adamantite plate mail body(120)    1      10000  
</span><span>18  maceshop       5      100    60     1      0      bronze mace(94)                    5      100    
                                                      iron mace(0)                       4      200    
                                                      steel mace(95)                     4      400    
                                                      mithril mace(96)                   3      3000   
                                                      adamantite mace(97)                2      12000  
</span><span>19  Foodshop       6      100    70     1      0      flourpot(136)                      1      500    
                                                      rawmeat(133)                       1      100    
                                                      cabbage(18)                        3      100    
                                                      banana(249)                        3      100    
                                                      redberries(236)                    1      100    
                                                      bread(138)                         0      100    
</span><span>20  battleaxeshop  5      100    55     1      0      bronze battle axe(205)             4      200    
                                                      iron battle axe(89)                3      300    
                                                      steel battle axe(90)               2      500    
                                                      mithril battle axe(91)             1      1000   
                                                      adamantite battle axe(92)          1      15000  
</span><span>21  chainmailshop  5      100    65     1      0      bronze chain mail body(113)        3      200    
                                                      iron chain mail body(7)            2      300    
                                                      steel chain mail body(114)         1      2000   
                                                      mithril chain mail body(115)       1      3500   
                                                      adamantite chain mail body(116)    1      9000   
</span><span>22  generaldwarf   7      130    30     3      1000   pot(135)                           3      100    
                                                      jug(140)                           2      100    
                                                      shears(144)                        2      100    
                                                      bucket(21)                         2      100    
                                                      tinderbox(166)                     2      100    
                                                      chisel(167)                        2      100    
                                                      hammer(168)                        5      100    
</span><span>23  generalshop5   7      130    40     3      1000   pot(135)                           3      100    
                                                      jug(140)                           2      100    
                                                      shears(144)                        2      100    
                                                      bucket(21)                         2      100    
                                                      tinderbox(166)                     2      100    
                                                      chisel(167)                        2      100    
                                                      hammer(168)                        5      100    
</span><span>24  magicshop      9      100    75     2      0      fire-rune(31)                      30     10     
                                                      water-rune(32)                     30     10     
                                                      air-rune(33)                       30     10     
                                                      earth-rune(34)                     30     10     
                                                      mind-rune(35)                      30     10     
                                                      body-rune(36)                      30     10     
                                                      eye of newt(270)                   2      100    
                                                      bluewizhat(185)                    1      100    
                                                      blackwizhat(199)                   1      100    
</span><span>25  Gemshop        8      100    70     3      0      uncut sapphire(160)                0      500    
                                                      uncut emerald(159)                 0      500    
                                                      uncut ruby(158)                    0      500    
                                                      uncut diamond(157)                 0      500    
                                                      sapphire(164)                      0      1000   
                                                      emerald(163)                       0      1000   
                                                      ruby(162)                          0      1000   
                                                      diamond(161)                       0      1000   
</span><span>26  craftingshop   4      100    65     2      0      chisel(167)                        2      100    
                                                      ring mould(293)                    4      100    
                                                      necklace mould(295)                2      100    
                                                      amulet mould(294)                  2      100    
</span><span>27  goldshop       12     100    70     2      0      Gold ring(283)                     0      1000   
                                                      sapphire ring(284)                 0      1000   
                                                      emerald ring(285)                  0      2000   
                                                      ruby ring(286)                     0      2000   
                                                      diamond ring(287)                  0      3000   
                                                      gold Necklace(288)                 0      1000   
                                                      sapphire necklace(289)             0      2000   
                                                      emerald necklace(290)              0      2000   
                                                      ruby necklace(291)                 0      3000   
                                                      diamond necklace(292)              0      3000   
                                                      stringgold(301)                    0      1000   
                                                      stringsaph(302)                    0      2000   
</span></pre>